<script setup>
import { Head, useForm } from '@inertiajs/inertia-vue3';

defineProps({
    canResetPassword: Boolean,
    status: String,
});

const form = useForm({
    name: '',
    username: '',
    email: '',
    password: '',
    password_confirmation: '',
    terms: false,
});

const submit = () => {
    form.post(route('register'), {
        onFinish: () => form.reset('password', 'password_confirmation'),
    });
};
</script>

<template>
    <Head title="Register"></Head>
    <section class="max-w-screen-2xl mx-auto xl:px-[140px] lg:px-[95px] px-3 pt-20 pb-[100px] relative overflow-x-clip">
        <img src="/assets/images/ornament.svg" class="absolute -right-[10%] top-[20%] -z-10" alt="">

        <div class="text-white font-raleway font-bold text-[32px] leading-[50px] max-w-[278px]">
            Sign In & <br> Promote Your NFT
        </div>
        <p class="text-lg leading-8 text-nardo-gray mt-5 font-poppins">
            Lorem ipsum product awesome that <br class="hidden md:block">
            listing more traffic in our network
        </p>

        <form @submit.prevent="submit" class="mt-[50px] font-poppins max-w-[400px] space-y-5">
            <div class="flex flex-col space-y-[10px]">
                <label class="text-base text-nardo-gray capitalize">Your name</label>
                <input v-model="form.name" type="text" name="name" class="font-raleway rounded-full placeholder:placeholder-text text-base bg-form-bg py-[18px] px-7
                    text-input-text font-semibold placeholder:font-normal" placeholder="your name">
            </div>
            <div class="flex flex-col space-y-[10px]">
                <label class="text-base text-nardo-gray capitalize">Your username</label>
                <input v-model="form.username" type="text" name="name" class="font-raleway rounded-full placeholder:placeholder-text text-base bg-form-bg py-[18px] px-7
                    text-input-text font-semibold placeholder:font-normal" placeholder="your username">
            </div>
            <div class="flex flex-col space-y-[10px]">
                <label class="text-base text-nardo-gray capitalize">Email Address</label>
                <input v-model="form.email" type="email" name="email" class="font-raleway rounded-full placeholder:placeholder-text text-base bg-form-bg py-[18px] px-7
                    text-input-text font-semibold placeholder:font-normal" placeholder="your email address...">
            </div>
            <div class="flex flex-col space-y-[10px]">
                <label class="text-base text-nardo-gray capitalize">Password</label>
                <input v-model="form.password" type="password" name="password" class="font-raleway rounded-full placeholder:placeholder-text text-base bg-form-bg py-[18px] px-7
                    text-input-text font-semibold placeholder:font-normal" placeholder="your password...">
            </div>
            <div class="flex flex-col space-y-[10px]">
                <label class="text-base text-nardo-gray capitalize">Password confirmation</label>
                <input v-model="form.password_confirmation" type="password" name="password_confirmation" class="font-raleway rounded-full placeholder:placeholder-text text-base bg-form-bg py-[18px] px-7
                    text-input-text font-semibold placeholder:font-normal" placeholder="your password...">
            </div>

            <div class="grid gap-6 pt-[30px]">
                <!-- <button type="submit"
                    class="py-[13px] px-[34px] w-full bg-yello rounded-full text-center drop-shadow-[0_12px_12px_rgba(249,200,90,0.4)]">
                    <span class="font-bold text-lg text-deep-yello font-raleway">
                        Sign In to My Account
                    </span>
                </button> -->
                <button type="submit"
                    class="py-[13px] px-[34px] w-full bg-yello rounded-full text-center drop-shadow-[0_12px_12px_rgba(249,200,90,0.4)]">
                    <span class="font-bold text-lg text-deep-yello font-raleway">Register</span>
                </button>
            </div>
        </form>
    </section>
</template>
