<script setup>
import Sidebar from './Partials/Sidebar.vue';
import Footer from './Partials/Footer.vue';
</script>

<template>
    <div class="page">
        <Sidebar v-if="$page.props.auth.user"></Sidebar>
        <div class="page-wrapper">
            <div class="container-xl">
                <!-- Page title -->
                <div class="page-header d-print-none">
                    <div class="row align-items-center">
                        <div class="col">
                            <!-- Page pre-title -->
                            <div class="page-pretitle">
                                <slot name="pretitle"></slot>
                            </div>
                            <h2 class="page-title">
                                <slot name="title"></slot>
                            </h2>
                        </div>
                        <!-- Page title actions -->
                        <div class="col-auto ms-auto d-print-none">
                            <slot name="page-action"></slot>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="container-xl">
                <div v-if="$page.props.flash.success" class="alert alert-success">{{ $page.props.flash.success }}</div>
                <div v-if="$page.props.flash.error" class="alert alert-danger">{{ $page.props.flash.error }}</div>
                    <slot></slot>
                </div>
            </div>
            <Footer></Footer>
        </div>
    </div>
</template>