<script setup>
import { Head } from "@inertiajs/inertia-vue3";
import AdminLayout from "@/Layouts/Admin/AdminLayout.vue";
import { useForm } from "@inertiajs/inertia-vue3";

const props = defineProps({
  user: Object,
});

const form = useForm({
  name: props.user.name,
  username: props.user.username,
  email: props.user.email,
});

const submit = () => {
  form.put(route("user.update", { id: props.user.id }));
};
</script>

<script>
export default {
  layout: AdminLayout,
};
</script>

<template>
  <Head title="Edit User"></Head>

  <div class="card">
    <form @submit.prevent="submit">
      <div class="card-body">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input
            type="text"
            v-model="form.name"
            class="form-control"
            :class="{ 'is-invalid': $page.props.errors.name }"
            placeholder="Name"
          />
          <div class="invalid-feedback">{{ $page.props.errors.name }}</div>
        </div>
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input
            type="text"
            v-model="form.username"
            class="form-control"
            :class="{ 'is-invalid': $page.props.errors.username }"
            placeholder="Username"
          />
          <div class="invalid-feedback">{{ $page.props.errors.username }}</div>
        </div>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input
            type="text"
            v-model="form.email"
            class="form-control"
            :class="{ 'is-invalid': $page.props.errors.email }"
            placeholder="Email"
          />
          <div class="invalid-feedback">{{ $page.props.errors.email }}</div>
        </div>
      </div>
      <div class="card-footer">
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </form>
  </div>
</template>
