<script setup>
import AdminLayout from '@/Layouts/Admin/AdminLayout.vue';

</script>

<template>
    <AdminLayout>
        <template #pretitle>Home</template>
        <template #title>Home Admin</template>

        <h1>HOME</h1>
    </AdminLayout>
</template>